

 body {
     font-family: 'Raleway', sans-serif;
     font-size: 1.2em;
 }
 
 .text-title {
     font-family: 'Akronim', cursive;
     font-size: 8em;
     color: blue;
 }
 
 .text-subtitle {
     font-family: 'Akronim', cursive;
     font-size: 2em;
     color: blue;
 }
 
 .bg-title {
     background-image: linear-gradient(to bottom right , #FF9F00, #FF1300, #FF9F00);
 }